<nz-page-header>
  <nz-page-header-content>
    <nz-skeleton [nzLoading]="isLoading" nzActive="true"></nz-skeleton>
    <nz-skeleton [nzLoading]="isLoading" nzActive="true"></nz-skeleton>
    <div *ngIf="!isLoading">
      <nz-row [nzGutter]="16" nzAlign="middle">
        <nz-col [nzSpan]="6">
          <nz-statistic [nzValue]="deedCounter.total | number" nzTitle="Total"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="6">
          <nz-statistic [nzValue]="deedCounter.collecting" nzTitle="Collecting"
                        nzSuffix="/ {{ deedCounter.total }}"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="6">
          <nz-statistic [nzValue]="deedCounter.waiting" nzTitle="Unassigned"
                        nzSuffix="/ {{ deedCounter.total }}"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="6">
          <nz-statistic [nzValue]="deedCounter.success" nzTitle="Success"
                        nzSuffix="/ {{ deedCounter.total }}"></nz-statistic>
        </nz-col>
      </nz-row>
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <h4 nz-typography style="margin-top: 1rem">Status</h4>
          <nz-radio-group [(ngModel)]="status" (ngModelChange)="setFilter()">
            <label nz-radio-button [nzValue]="0">All</label>
            <label nz-radio-button *ngFor="let status of statusList"
                   [nzValue]="status.status_id">{{ status.name }}
            </label>
          </nz-radio-group>
        </div>
      </div>
    </div>
    <nz-table *ngIf="!isLoading"
              #basicTable
              nzSize="middle"
              [nzWidthConfig]="['20%','20%','45%', '10%', '5%']"
              [nzData]="deedList"
              [nzScroll]="{ y: '50vh' }"
              [nzLoading]="isTableLoading"
              nzShowPagination
              nzShowSizeChanger>
      <thead>
      <tr>
        <th [nzWidth]="'20%'">Name</th>
        <th [nzWidth]="'20%'">Employee</th>
        <th [nzWidth]="'45%'">Address</th>
        <th [nzWidth]="'10%'">Status</th>
        <th [nzWidth]="'5%'"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data"
          class="row-data"
          (click)="addLocationQueryParams(data.latitude, data.longitude, 15)">
        <td>{{ data.deed_name }}</td>
        <td>{{ data.employee ? data.employee.first_name + ' ' + data.employee.last_name : '-' }}</td>
        <td>{{ data.address }}</td>
        <td>
          <nz-tag [nzColor]="data.status_id | statusColor">{{ statusList[data.status_id - 1].name }}</nz-tag>
        </td>
        <td>
          <a routerLink="/deed/{{ data.deed_id }}">Details</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-page-header-content>
</nz-page-header>

