$link_color: #1890ff;

nz-skeleton {
  padding: 16px 24px;
}

.back {
  float: left;
  margin: 8px 16px 8px 0;
  font-size: 16px;
  line-height: 1;
  color: black;
  cursor: pointer;
}

.back :hover {
  transition: color 0.3s;
  color: $link_color;
}

[nz-carousel-content] {
  margin-top: 2.5rem;
  height: 30rem;
  overflow: hidden;
}

.image-grid {
  width: 20vh;
  height: 20vh;
  margin-bottom: .5rem;
  margin-right: .5rem;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

nz-result {
  padding: 48px 0;
  overflow: hidden;
}

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
}
