<nz-skeleton [nzLoading]="isLoading" nzActive="true"></nz-skeleton>
<nz-page-header *ngIf="deed && !isLoading">
  <nz-page-header-title>
    <a class="back" routerLink="/">
      <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
    </a>{{ deed.deed_name }}
  </nz-page-header-title>
  <nz-page-header-tags>
    <nz-tag [nzColor]="deed.status_id | statusColor">{{ statusList[deed.status_id - 1].name }}</nz-tag>
  </nz-page-header-tags>
  <nz-page-header-extra *ngIf="editable">
    <button nz-button nzType="danger" (click)="createConfirmModal()">
      <i nz-icon nzType="close" nzTheme="outline"></i>
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="createModal()">
      <i nz-icon nzType="edit" nzTheme="outline"></i>
      Assign
    </button>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-descriptions [nzColumn]="3">
      <nz-descriptions-item nzTitle="Request ID"
                            [nzSpan]="1">
        <a>{{ deed.deed_id }}</a>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Created"
                            [nzSpan]="1">
        {{ deed.created_date | date:'medium' }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Updated"
                            [nzSpan]="1">
        {{ deed.updated_date | date:'medium' }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Customer" [nzSpan]="1">
        {{ deed.customer.first_name }} {{ deed.customer.last_name }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Tel" [nzSpan]="2">
        {{ deed.customer.phone_number }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Address" [nzSpan]="3">
        {{ deed.address }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Area"
                            [nzSpan]="1">
        {{ deed.area ? (deed.area | area) : '-' }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Deed Number"
                            [nzSpan]="1">
        {{ deed.deed_number ? deed.deed_number : '-' }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Type"
                            [nzSpan]="1">
        {{ deed.deed_type ? deed.deed_type.name : '-' }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Employee"
                            [nzSpan]="1">
        {{ deed.employee ? deed.employee.first_name + ' ' + deed.employee.last_name : '-' }}
      </nz-descriptions-item>
    </nz-descriptions>
    <div nz-row>
      <div class="image-grid" nz-col [nzSpan]="8" *ngFor="let image of deed.image_path">
        <a (click)="createImageModal(image)"><img src="{{ host + image }}"></a>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>
<nz-result *ngIf="isError" [nzStatus]="resultStatus" [nzTitle]="resultStatus" [nzSubTitle]="resultMessage">
  <div nz-result-extra>
    <button nz-button nzType="primary" routerLink="/">Back Home</button>
  </div>
</nz-result>
