$full_width: 100%;
$full_height: 100%;
$height: 64px;

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nz-spin {
  width: $full_width;
}

.app-layout {
  height: 100vh;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  background: #3b5998;
  color: white;
}

.header-trigger {
  height: $height;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s, padding 0s;
}

.header-components-index-right {
  display: flex;
  padding-right: 20px;
  float: right;
  height: $height;
  margin-left: auto;
  overflow: hidden;
}

.header-components-index-action {
  padding: 0 8px;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .10);
}

.trigger:hover {
  color: #1890ff;
}

[nz-dropdown] {
  color: white;
}

nz-result {
  width: $full_width;
  height: $full_height;
  padding-top: 10%;
}
