<nz-spin *ngIf="!isError" [nzSpinning]="isSpinning" nzTip="Loading..." nzDelay="500">
  <nz-layout class="app-layout">
    <nz-header>
      <span class="header-trigger" (click)="triggerMenu()">
        <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
      </span>
      <div class="header-components-index-right">
        <div class="header-components-index-action">
          <nz-avatar
            [nzText]="avatarName"
            [ngStyle]="{ 'background-color': avatarColor }"
            nzSize="large"
            style="vertical-align: middle; margin-right: 8px">
          </nz-avatar>
          <span *ngIf="user">{{ user.first_name }} {{ user.last_name }}</span>
        </div>
        <div class="header-components-index-action">
          <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="logout()">Log Out</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-layout>
      <nz-sider class="menu-sidebar"
                nzCollapsible
                nzWidth="55%"
                [nzCollapsedWidth]="0"
                nzTheme="light"
                [(nzCollapsed)]="isCollapsed"
                (nzCollapsedChange)="onCollapsedChange()">
        <router-outlet *ngIf="user"></router-outlet>
      </nz-sider>
      <nz-content>
        <app-maps #mapComponent></app-maps>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-spin>
<nz-result *ngIf="isError" nzStatus="500" nzTitle="500" nzSubTitle="Sorry, there is an error on server.">
</nz-result>
