<nz-layout>
  <div class="login" nz-row nzJustify="space-around" nzAlign="middle">
    <div nz-col [nzSpan]="6" [nzOffset]="9">
      <h1 nz-typography>Login</h1>
      <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="username" placeholder="Username"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password"/>
            </nz-input-group>
          </nz-form-control>
          <span nz-text nzType="danger" *ngIf="isInvalid">Invalid Username or Password.</span>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button class="login-form-button" nzType="primary" nzShape="round">Log in</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</nz-layout>
